.item {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    max-width: 770px;
    min-width: 350px;
    display: flex;
    padding: 15px;
    padding-right: 15px;
    border: 2px solid lightblue;
    margin-top: 15px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.inputField {
    flex-basis: 40%;
    font-size: 16px;
    /* max-width: 230px; */
  }
/* .item {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    max-width: 770px;
    min-width: 350px;
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid lightblue;
    border-radius: 5px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    display: flexbox;



} */

.itemDesc {
    display: inline-flex;
    max-width: 40%;
    min-width: 40%;
    padding-right: 15px;


}


@media screen and (max-width: 720px) {

}