.form {
    margin: 0 auto;
    padding-top: 0;
    min-width: 350px;
    min-height: 130px;
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
}

.button {
    position: relative;
    margin-top: 50px;
    margin-right: 50px;
    float: right;
    
}


@media screen and (max-width: 580px) {
    .button {
        margin-right: 2%;
        
    }
}